.cnstat {
  height: 450px;
  background-color: #ffffff;
}





.gridcontaine {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-gap: 50px;
  height: 100%;
  margin: 2%;
}
.griditem {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.title {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-variant: tabular-nums;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 52.5px;
}
.imgstat {
  height: 220px;
  width: 220px;
  margin-bottom: 20px;
}
@media screen and (max-width: 750px) {
  
    .cnstat {
      height: 1330px;
      background-color: #ffffff;
    }
    
    
    

    .gridcontaine {
      display: block;
      grid-template-columns: auto auto auto auto;
      padding: 10px;
      grid-gap: 50px;
      height: 100%;
      margin: 1%;
    }
    .imgstat {
      height: 200px;
      width: 200px;
      margin-bottom: 20px;
    }
 
}