
.gridcontaine {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  grid-gap: 50px;
  height: 100%;
  margin: 2%;
}
.griditem {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.title {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-variant: tabular-nums;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 52.5px;
}
.imgstat {
  height: 200px;
  width: 200px;
 
}
@media screen and (max-width: 750px) {
 

  .gridcontaine {
    display: block;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    height: 100%;
  
  }
  .imgstat {
    height: 100px;
    width: 100px;
  
  }
}
