.footer {
  bottom: 0;
}
.body {
  padding: 40px;
  padding-top: 100px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

@media only screen and (max-width: 768px) {
  .body {
    justify-content: center;
  }
}
