.wrapper{
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
} 
.nav-item{
    padding:10px;
    margin-bottom: 15%;
    font-weight: 600;
    text-decoration: none;
}
.nav-item:hover{
    margin-bottom: 15%;
    background-color: rgb(180, 179, 179);
    border-radius: 5px;
}