.members{
    padding:20px;
    margin: 0px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: center;
}
.about{
    padding:20px;
    margin: 0px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: center;
}
.contact{
    padding:20px;
    margin: 0px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: center;
}
.stats{
    padding:20px;
    margin: 0px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    text-align: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
   
}
.description{
    padding:20px;
    margin: 0px 20px 30px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
  
}
.timeline{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 0px 20px 30px 20px;
    padding:20px;
    background: #fff;
    border-radius: 5px;
    text-align: center;

}
.partners{
    
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    

    
}

@media only screen and (max-width: 768px) {
    .members{
        margin: 10 0 10 0 ;
    }
    .about{
        margin: 10 0 10 0 ;
    }
    .contact{
        margin: 10 0 10 0 ;
    }
    .stats{
        margin: 10 0 10 0 ;
    }
   
    .description{
        margin: 10 0 10 0 ;
      
    }
    .timeline{
        margin: 10 0 10 0 ;
    
    }
    .partners{
        
        margin: 10 0 10 0 ;
      
     
        
    }

}
@media screen and (min-width: 1900px){
 .description{
     padding:50px;
     padding-left: 350px;
     
 }
}